<div class="popup-details">
  <div class="close-modal" >
    <button class="close" id="btn_close" ng-click="historyModalVm.close()" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="">
    <div class="row">
      <div class="col-sm-8">
        <div class="header-item font-normal line-height-span">
          <span class="font-black font-24">Achievements history</span>
        </div>
      </div>
    </div>


    <div class="row">

      <div class="col-sm-12">
        <div class="container-driver-wide"></div>
          <div class="profile-container margin-top-15">
            <div class="img-profile">
              <profile-img img-src="{{historyModalVm.driverPictureUrl}}" img-vertical-size=" 85" img-size="85"></profile-img>
            </div>
            <div class="info-profile-empty">
              <h5 class="text-bluedark font-bold">{{historyModalVm.driver.fullName | lowercase}}</h5>
              <div class="container-raiting-joindate-rides-cancelledrate">
                <div class="raiting">
                  <average-star-rating average="historyModalVm.driver.rating"></average-star-rating>
                </div>
                <div class="joindate">
                  <span class="text-light-grey margin-top">Join date: {{historyModalVm.driver.createdDate | date:'dd/MM/yyyy'}}</span>
                </div>
              </div>
              <div class="container-raiting-joindate-rides-cancelledrate">
                <div class="rides">
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{historyModalVm.driver.ridesCount}} Rides <span class="caret"></span></a>
                        <div class="dropdown-menu" role="menu">
                          <div class="header-last-ride">
                            <span class="text-blue-light font-bold">Driver's last ride</span>
                          </div>
                          <div class="title-last-ride">
                            <div class="col-xs-6">
                              <span class="font-10 text-light-grey font-bold">Date</span>
                            </div>
                            <div class="col-xs-6">
                              <span class="font-10 text-light-grey font-bold">Status</span>
                            </div>
                          </div>
                          <div class="last-ride">
                            <div class="col-xs-6">
                              <span class="font-12 text-light-grey">{{historyModalVm.lastRide.createdDate | date:'dd/MM/yyyy hh:mm a'}}</span>
                            </div>
                            <div class="col-xs-6">
                              <span class="font-12 text-light-grey">{{historyModalVm.lastRide.status | capitalize}} by {{historyModalVm.lastRide.statusUpdatedBy | capitalize}}</span>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="cancelledrate">
                  <img class="rate-chart" ng-src="{{historyModalVm.pathSourceImageForCancelledPercent}}">
                  <span class="font-18 text-light-grey"><strong>{{historyModalVm.cancelledPercent}}</strong></span> <span class="font-lightgrey font-12">Cancelled</span>
                </div>
              </div>
              <div class="line-dividir-mobile"></div>
            </div>
          </div>



          <div class="profile-container margin-top-15">
            <div class="img-profile">
              <profile-img img-src="{{historyModalVm.carPictureUrl}}" img-vertical-size=" 85" img-size="85"></profile-img>
            </div>
            <div class="info-profile-empty">

            <div class="container-raiting-joindate-rides-cancelledrate">
              <div class="carinfo">
                <h5 class="text-bluedark font-bold">{{historyModalVm.driver.carInfo.car.make}} {{historyModalVm.driver.carInfo.car.model}}</h5>
                <span class="font-14 text-light-grey">{{historyModalVm.colorName}} - {{historyModalVm.driver.carInfo.year}}</span>
              </div>
              <div class="plateinfo">
                <div class="plate-box">
                  <h5 class="text-bluedark font-bold">{{historyModalVm.driver.carInfo.plate}}</h5>
                </div>
              </div>
            </div>

              <div class="container-raiting-joindate-rides-cancelledrate margin-top-5">
                <i class="material-icons font-18 text-light-grey">local_taxi</i><span class="font-14 text-light-grey font-bold">{{historyModalVm.driver.controller.name}}</span>
              </div>
            </div>
          </div>

      </div>

    </div>

   <br/>

    <div class="row panel margin-null">
      <div class="col-sm-12">
        <div class="margin-top-15">
              <table class="table table-hover table-condensed table-bordered">
                <thead>
                <tr>
                  <th class="column-header-color">
                    Achievement Date
                  </th>
                  <th class="column-header-color">
                    Redeem Date
                  </th>
                  <th class="column-header-color">
                    Badge
                  </th>
                  <th class="column-header-color">
                    Achievement
                  </th>
                  <th class="column-header-color">
                    Status
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in historyModalVm.history.data track by $index">
                  <td>
                    <span>{{row.createdAt | date:'dd/MM/yyyy'}}</span>
                  </td>
                  <td>
                    <span ng-if="row.status=='ACTIVE'">Pending for redeem</span>
                    <span ng-if="row.status=='COMPLETED'">{{row.redeemAt | date:'dd/MM/yyyy'}}</span>
                    <span ng-if="!row.redeemAt">N/A</span>
                  </td>
                  <td>
                    <span>{{row.badge}}</span>
                  </td>
                  <td>
                    <span>{{row.achievement}}</span>
                  </td>
                  <td>
                    <span>{{row.status}}</span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
      </div>
    </div>
  </div>
</div>
