<div class="modal-header">
  <h4 class="text-center">RECUPERAR CONTRASEÑA</h4>
</div>
<form name="recoverPasswordForm" ng-submit="recoverPasswordVm.recoverPassword()" novalidate>
  <div class="modal-body">
    <h6 class="text-center">
      Ingresa tu correo electrónico y te enviaremos un enlace para que reestablescas tu contraseña.
    </h6>
    <alert ng-if="recoverPasswordVm.alertModal.msg" type="{{recoverPasswordVm.alertModal.type}}" close="recoverPasswordVm.closeAlert()" dismiss-on-timeout="5000">{{recoverPasswordVm.alertModal.msg}}</alert>
    <div class="form-group" ng-class="{ 'has-error' : recoverPasswordForm.email_field.$invalid }">
      <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">email</i>
          </span>
        <!--EMAIL ADDRESS-->
        <input id="field_email" class="form-control" ng-model="recoverPasswordVm.email" name="email_field"  placeholder="Email" required type="email" ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i">
      </div>
    </div>

  </div>
  <div class="modal-footer ">
    <button ladda="recoverPasswordVm.loading.recover" data-style="slide-left" id="btn_recoverPassword" class="btn btn-primary btn-lg" type="submit" ng-disabled="recoverPasswordForm.$invalid">Recuperar contraseña</button>
  </div>
</form>
