<div class="modal-header">
  <button class="close" id="btn_close" ng-click="royalModalVm.close()" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row sub-header">
    <div class="col-sm-12">
      <div class="input-group header-item">
        <h4 class="margin-null">Royal Driver</h4>
      </div>
    </div>
  </div>
  <div class="row panel margin-null">
    <div class="col-sm-12">
      <div class="car-panel">
        <div class="car-information padding-left-null padding-right-null">
          <div class="row">
            <div class="col-sm-12">
              <label>
                <strong class="text-blue-light">Name</strong>
              </label>
              <h5 class="margin-null">{{royalModalVm.driver.firstName}}</h5>
            </div>
            <div class="col-sm-12">
              <label>
                <strong class="text-blue-light">Email</strong>
              </label>
              <h5 class="margin-null">{{royalModalVm.driver.email}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <label>
                <strong class="text-blue-light">Mobile</strong>
              </label>
              <h5 class="margin-null">{{royalModalVm.driver.phone}}</h5>
            </div>
            <div class="col-sm-12">
              <label>
                <strong class="text-blue-light">Status</strong>
              </label>
              <h5 class="margin-null">{{royalModalVm.driver.status}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <ul class="list-inline">
      <li>qwe</li>
      <li>asd</li>
      <li>qwe</li>
    </ul>
  </div>
</div>
