<div ng-if="vm.notAuthMsg" not-authorized message="vm.notAuthMsg" class="not-authorized"></div>
<div class="container-corporate container-fluid padding-footer">
  <div class="row row-separation">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div>
            <div class="row sub-header">
              <div class="col-sm-5">
                <h4>Corporations ({{vm.totalCorporates}})</h4>
              </div>
              <div class="col-sm-7 text-right">
                <button ng-if="vm.getUserPermission('update:corporate')"
                        class="btn btn-sm btn-primary"
                        ng-click="vm.addBalance()">
                  Add Balance
                </button>
                <span>&nbsp;</span>
                <a ng-href="{{vm.csvUrl}}" target="_blank">
                  <button ng-if="vm.getUserPermission('export:corporate')"
                          class="btn btn-sm btn-primary"
                          ng-disabled="!vm.filter.country"
                          ng-click="vm.getCsvUrl()">
                    Export to CSV
                  </button>
                </a>
              </div>
            </div>
            <div class="panel-heading">
              <div class="row shape-light-grey">
                <div class="col-sm-1 text-left">
                  <span class="text-left">Join date</span>
                </div>
                <div class="col-sm-8">
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="input-group date-box has-feedback">
                        <input date-range-picker class="form-control date-picker font-11 inside-search-icon"
                               type="text"
                               ng-model="vm.filter.date" options="vm.filter.date.opts" required/>
                        <i class="glyphicon glyphicon-calendar form-control-feedback no-zindex"></i>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 text-right">
                  <p class="input-group search-box">
                    <input class="form-control" placeholder="Search" type="text" ng-model="vm.filter.searchText"
                           ng-keydown="vm.searchOnEnter($event)"/>
                    <span class="input-group-btn margin-top-input search-btn" ng-click="vm.searchCorporates()">
              <button class="btn btn-default" type="button">
                <i class="material-icons text-dark-grey">search</i>
              </button>
            </span>
                    <span ng-if="vm.filter.searchText && vm.filter.searchText !== ''"
                          class="input-group-btn margin-top-input clear-btn" ng-click="vm.clearSearchField()">
              <button class="btn btn-default" type="button">
                <i class="material-icons text-dark-grey">close</i>
              </button>
            </span>
                  </p>
                </div>
              </div>
            </div>
            <div block-ui="corporatesList" class="panel">
              <div class="row">
                <div class="col-sm-12">
                  <div class="panel panel-default panel-no-shadow panel-corporates">
                    <div class="shape-light-grey">
                      <div class="col-sm-12 margin-bottom-15">
                        <ul class="list-inline margin-bottom-null margin-top-15 ul-menu-of-filters">
                          <li>
                            <filter_country_state multiple="true" country="vm.filter.country"
                                                  states="vm.filter.states"></filter_country_state>
                          </li>
                          <li>
                            <select class="font-13 new-select" id="field_status" ng-model="vm.filter.status">
                              <option disabled selected value="">Select status</option>
                              <option value="">All</option>
                              <option value="OK">Approved</option>
                              <option value="REJECTED">Rejected</option>
                              <option value="IN_REVIEW">Pending</option>
                              <option value="SUSPENDED">Suspended</option>
                            </select>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="panel-body padding-top-null">
                      <table class="table table-hover table-condensed table-bordered">
                        <thead>
                        <tr>
                          <th class="column-header-color" ng-click="vm.order('status')">
                            Status
                            <span ng-if="!vm.reverse && vm.predicate === 'status'"
                                  class="fa fa-sort-down columnSortIcons"></span>
                            <span ng-if="vm.reverse && vm.predicate === 'status'"
                                  class="fa fa-sort-up columnSortIcons"></span>
                          </th>
                          <th class="column-header-color" ng-click="vm.order('companyName')">
                            Corporation
                            <span ng-if="!vm.reverse && vm.predicate === 'companyName'"
                                  class="fa fa-sort-down columnSortIcons"></span>
                            <span ng-if="vm.reverse && vm.predicate === 'companyName'"
                                  class="fa fa-sort-up columnSortIcons"></span>
                          </th>
                          <th class="column-header-color" ng-click="vm.order('companyName')">
                            Country - State
                          </th>
                          <th class="column-header-color" ng-click="vm.order('createdDate')">
                            Request Date
                            <span ng-if="!vm.reverse && vm.predicate === 'createdDate'"
                                  class="fa fa-sort-down columnSortIcons"></span>
                            <span ng-if="vm.reverse && vm.predicate === 'createdDate'"
                                  class="fa fa-sort-up columnSortIcons"></span>
                          </th>
                          <th class="column-header-color">
                            Request By
                          </th>
                          <th class="column-header-color">
                            Email
                          </th>
                          <th class="column-header-color" ng-click="vm.order('ridesCount')">
                            Rides
                            <span ng-if="!vm.reverse && vm.predicate === 'ridesCount'"
                                  class="fa fa-sort-down columnSortIcons"></span>
                            <span ng-if="vm.reverse && vm.predicate === 'ridesCount'"
                                  class="fa fa-sort-up columnSortIcons"></span>
                          </th>
                          <th class="column-header-color">
                            Balance
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="corporate in vm.corporates track by $index"
                            ng-click="vm.openCorporateProfileDialog(corporate)">
                          <td>
                            <div class="column-status-style" ng-switch="corporate.status">
                              <i ng-switch-when="REJECTED" class="material-icons status-box bg-rejected"
                                 tooltip="Rejected" tooltip-placement="right">cancel</i>
                              <i ng-switch-when="OK" class="material-icons status-box bg-ok" tooltip="Approved"
                                 tooltip-placement="right">check_circle</i>
                              <i ng-switch-when="SUSPENDED" class="material-icons status-box bg-suspended"
                                 tooltip="Suspended" tooltip-placement="right">remove_circle_outline</i>
                              <i ng-switch-when="IN_REVIEW" class="material-icons status-box bg-review"
                                 tooltip="Pending" tooltip-placement="right">query_builder</i>
                            </div>
                          </td>
                          <td>
                            <span> {{corporate.companyName}} </span>
                          </td>
                          <td>
                            <span> {{corporate.shortLocation.country}} - {{corporate.shortLocation.state}} - {{corporate.shortLocation.city}} </span>
                          </td>
                          <td>
                            <span> {{corporate.formatedCreatedDate}} </span>
                          </td>
                          <td>
                            <span> {{corporate.contactName}} </span>
                          </td>
                          <td>
                            <span ng-if="corporate.emailVerified">
                              <i class="fa fa-check-square-o text-success fa-lg"></i>
                            </span>
                            <span ng-if="!corporate.emailVerified">
                              <i class="fa fa-minus-square-o text-danger fa-lg"></i>
                            </span>
                            <span class="cell-email"> {{corporate.email}} </span>
                          </td>
                          <td>
                            <span> {{corporate.ridesCount || '0'}} </span>
                          </td>
                          <td>
                            <span>{{corporate.countryInfo.currencySymbol}} {{corporate.balance.available | number}} </span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="bar-pagination">
                  <div class="row">
                    <div class="col-sm-8 text-left">
                      <pagination boundary-links="true"
                                  class="pagination"
                                  first-text="&laquo;"
                                  items-per-page="vm.controls.numPerPage"
                                  last-text="&raquo;"
                                  max-size="5"
                                  next-text="&rsaquo;"
                                  ng-model="vm.controls.currentPage"
                                  previous-text="&lsaquo;"
                                  rotate="false"
                                  total-items="vm.totalCorporates"></pagination>
                    </div>
                    <div class="col-sm-4 text-right">
                      <div class="btn-group items-per-page">
                        <label btn-radio="10" class="btn btn-default" id="btn_numPerPage10"
                               ng-model="vm.controls.numPerPage">10</label>
                        <label btn-radio="25" class="btn btn-default" id="btn_numPerPage25"
                               ng-model="vm.controls.numPerPage">25</label>
                        <label btn-radio="50" class="btn btn-default" id="btn_numPerPage50"
                               ng-model="vm.controls.numPerPage">50</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
