<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
      <div class="panel panel-default bg-login">
        <div class="panel-body">
          <div class="text-center">
            <h4 class="text-center">LOG IN</h4>
            <div class="panel-body">
              <div class="errors">
                <span></span>
              </div>
              <form class="form" name="loginForm" ng-submit="vm.login()">
                <!--start form-->
                <!--add form action as needed-->
                <alert ng-if="vm.alert.msg" type="{{vm.alert.type}}" close="vm.closeAlert()" dismiss-on-timeout="5000">{{vm.alert.msg}}</alert>
                <fieldset>
                  <div class="form-group">
                    <div class="input-group" data-ng-class="{'has-error':!loginForm.email.$valid}">
                        <span class="input-group-addon">
                          <i class="material-icons">email</i>
                        </span>
                      <!--EMAIL ADDRESS-->
                      <input class="form-control" id="field_username" name="email" ng-model="vm.username" placeholder="Email" required type="email" ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i">
                    </div>
                    <div class="input-group" data-ng-class="{'has-error':!loginForm.password.$valid}">
                        <span class="input-group-addon">
                          <i class="material-icons ">vpn_key</i>
                        </span>
                      <!--PASSWORD-->
                      <input class="form-control" id="field_password" name="password" ng-model="vm.password" placeholder="Password" required="" type="password" ng-minlength="6">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-5 col-sm-offset-7 text-right">
                      <div class="form-group">
                        <div class="checkbox">
                          <label class="">
                            <!--REMEMBER ME-->
                            <input id="check_remember" ng-model="vm.remember" type="checkbox">
                            Remember user
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <div class="form-group">
                        <!--BTN LOGIN-->
                        <button ladda="vm.loading.login" data-style="slide-left" class="btn btn-lg btn-grey btn-block" id="btn_login" ng-disabled="loginForm.$invalid" type="submit">Log in</button>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>

              <div class="">
                <a id="link_forgotPassword"  href="" ng-click="vm.forgotPassword()">Forgot your password?</a>
              </div>

              <!--/end form-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
