<div ng-if="vm.notAuthMsg" not-authorized message="vm.notAuthMsg" class="not-authorized"></div>
<div class="container-fluid padding-footer">
  <div class="row sub-header">
    <div class="col-sm-9">
      <h4>Passengers ({{vm.totalPassengers}})</h4>
    </div>
    <div class="col-sm-3 text-right pull-right">
      <a ng-href="{{vm.csvUrl}}" target="_blank">
        <button ng-if="vm.getUserPermission('export:passengers')"
                ladda="vm.loading.export"
                data-style="expand-left"
                class="btn btn-sm btn-primary"
                ng-disabled="!vm.filter.country"
                ng-click="vm.exportToCsv()">
          Export to CSV
        </button>
      </a>
    </div>
  </div>
  <div class="panel-heading">
    <div class="row shape-light-grey">
      <div class="col-sm-1 text-left">
        <h5 class="text-left">Join date</h5>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-4">
            <p class="input-group date-box has-feedback">
              <input date-range-picker class="nekso-form__input" type="text"
                     ng-model="vm.filter.date" options="vm.filter.date.opts" required/>
              <i class="glyphicon glyphicon-calendar form-control-feedback no-zindex"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 text-right">
        <p class="input-group search-box">
          <input class="form-control" placeholder="Search" type="text" ng-model="vm.filter.searchText"
                 ng-keydown="vm.searchDriversOnEnter($event)"/>
          <span class="input-group-btn margin-top-input search-btn" ng-click="vm.searchDrivers()">
              <button class="btn btn-default" type="button">
                <i class="material-icons text-dark-grey">search</i>
              </button>
            </span>
          <span ng-if="vm.filter.searchText && vm.filter.searchText !== ''"
                class="input-group-btn margin-top-input clear-btn" ng-click="vm.clearSearchField()">
              <button class="btn btn-default" type="button">
                <i class="material-icons text-dark-grey">close</i>
              </button>
            </span>
        </p>
      </div>
    </div>
  </div>
  <div block-ui="passengersList">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-passengers">
          <div class="row shape-light-grey">
            <div class="col-sm-12 margin-bottom-15">
              <ul class="list-inline margin-bottom-null ul-menu-of-filters">
                <li>
                  <filter_country_state multiple="true" country="vm.filter.country"
                                        states="vm.filter.states"></filter_country_state>
                </li>
                <li>
                  <select class="nekso-form__select" ng-model="vm.filter.tag">
                    <option disabled selected value="">Select Tag</option>
                    <option value="ALL">All</option>
                    <option value="SUSPICIOUS">Suspicious</option>
                  </select>
                </li>
                <li>
                  <select class="nekso-form__select" ng-model="vm.filter.rating">
                    <option disabled selected value="">Select rating</option>
                    <option value="">All</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3</option>
                    <option value="3.5">3.5</option>
                    <option value="4">4</option>
                    <option value="4.5">4.5</option>
                    <option value="5">5</option>
                  </select>
                </li>
                <li>
                  <select class="nekso-form__select" id="field_email_verified" ng-model="vm.filter.emailVerified">
                    <option disabled selected value="">Email status</option>
                    <option value="ALL">All</option>
                    <option value="true">Verified</option>
                    <option value="false">Not verified</option>
                  </select>
                </li>
                <li>
                  <select class="nekso-form__select" id="field_status" ng-model="vm.filter.status">
                    <option disabled selected value="">Status</option>
                    <option value="ALL">All</option>
                    <option value="OK">Approved</option>
                    <option value="SUSPENDED">Suspended</option>
                  </select>
                </li>
              </ul>
            </div>
          </div>
          <div class="padding-top-null">
            <table class="table table-hover table-condensed table-bordered">
              <thead>
              <th>
                Tags
              </th>
              <th class="column-header-color" ng-click="vm.order('firstName')">
                Name
                <span ng-if="!vm.reverse && vm.predicate === 'firstName'"
                      class="fa fa-sort-down columnSortIcons"></span>
                <span ng-if="vm.reverse && vm.predicate === 'firstName'" class="fa fa-sort-up columnSortIcons"></span>
              </th>
              <th class="column-header-color">
                Email
              </th>
              <th class="column-header-color">
                Mobile
              </th>
              <th class="column-header-color" ng-click="vm.order('createdDate')">
                Join date
                <span ng-if="!vm.reverse && vm.predicate === 'createdDate'"
                      class="fa fa-sort-down columnSortIcons"></span>
                <span ng-if="vm.reverse && vm.predicate === 'createdDate'" class="fa fa-sort-up columnSortIcons"></span>
              </th>
              <th class="column-header-color" ng-click="vm.order('ridesCount')">
                Rides
                <span ng-if="!vm.reverse && vm.predicate === 'ridesCount'"
                      class="fa fa-sort-down columnSortIcons"></span>
                <span ng-if="vm.reverse && vm.predicate === 'ridesCount'" class="fa fa-sort-up columnSortIcons"></span>
              </th>
              <th class="column-header-color" ng-click="vm.order('rating')">
                Rating
                <span ng-if="!vm.reverse && vm.predicate === 'rating'" class="fa fa-sort-down columnSortIcons"></span>
                <span ng-if="vm.reverse && vm.predicate === 'rating'" class="fa fa-sort-up columnSortIcons"></span>
              </th>
              <th class="column-header-color">
                Country
              </th>
              </thead>
              <tbody>
              <tr ng-repeat="passenger in vm.passengers track by $index">
                <td>
                  <div ng-if="vm.getUserPermission('update:passengers')" class="container-suspicious">
                    <span ng-if="passenger.suspiciousInfo.times && passenger.suspiciousInfo.times > 0">{{passenger.suspiciousInfo.times}}</span>
                    <img class="clickeable"
                         ng-if="passenger.tags && (passenger.tags.indexOf('SUSPICIOUS') > -1)"
                         ng-src="images/suspicious-icon.svg"
                         ng-click="vm.getSuspiciousHistory(passenger)"
                         mwl-confirm
                         title="Passenger suspicious Behavior"
                         message="{{vm.suspiciousHistory}}"
                         placement="right"
                         confirm-text="Remove"
                         confirm-button-type="danger"
                         on-confirm="vm.tagUser(passenger.id, 'SUSPICIOUS', false)"/>
                  </div>
                  <div ng-if="!vm.getUserPermission('update:passengers')">
                    <div class="container-suspicious" ng-if="passenger.tags && (passenger.tags.indexOf('SUSPICIOUS') > -1)">
                      <span ng-if="passenger.suspiciousInfo.times && passenger.suspiciousInfo.times > 0">{{passenger.suspiciousInfo.times}}</span>
                      <img ng-src="images/suspicious-icon.svg" title="Suspicious">
                    </div>
                  </div>
                </td>
                <td ng-click="vm.openPassengerProfile(passenger)">
                  <span ng-if="passenger.status==='OK'" style="display: flex">
                    <i class="material-icons status-box text-success">check_circle</i>
                  </span>
                  <span ng-if="passenger.status==='SUSPENDED'" style="display: flex">
                    <i class="material-icons status-box text-danger">remove_circle_outline</i>
                  </span>
                  <span class="cell-email bold">{{passenger.fullName | lowercase}}</span>
                </td>
                <td>
                  <span ng-if="passenger.emailVerified">
                      <i class="fa fa-check-square-o text-success fa-lg"></i>
                  </span>
                  <span ng-if="!passenger.emailVerified">
                      <i class="fa fa-minus-square-o text-danger fa-lg"></i>
                  </span>
                  <span class="cell-email">{{passenger.email}}</span>
                </td>
                <td>
                  <span>{{passenger.phone}}</span>
                </td>
                <td>
                  <span>{{passenger.createdDate | date:'dd/MM/yyyy hh:mm a'}}</span>
                </td>
                <td>
                  <span>{{passenger.ridesCount}}</span>
                </td>
                <td class="rating-column">
                  <i class="stars material-icons">star_rate</i> {{passenger.rating}}
                </td>
                <td>
                  <span>{{passenger.location.country + ' - ' + passenger.location.state}}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="bar-pagination">
        <div class="row">
          <div class="col-sm-8 text-left">
            <pagination boundary-links="true"
                        class="pagination"
                        first-text="&laquo;"
                        items-per-page="vm.controls.numPerPage"
                        last-text="&raquo;"
                        max-size="5"
                        next-text="&rsaquo;"
                        ng-model="vm.controls.currentPage"
                        previous-text="&lsaquo;"
                        rotate="false"
                        total-items="vm.totalPassengers">
            </pagination>
          </div>
          <div class="col-sm-4 text-right">
            <div class="btn-group items-per-page">
              <label btn-radio="10" class="btn btn-default" id="btn_numPerPage10"
                     ng-model="vm.controls.numPerPage">10</label>
              <label btn-radio="25" class="btn btn-default" id="btn_numPerPage25"
                     ng-model="vm.controls.numPerPage">25</label>
              <label btn-radio="50" class="btn btn-default" id="btn_numPerPage50"
                     ng-model="vm.controls.numPerPage">50</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
