<div ng-if="vm.notAuthMsg" not-authorized message="vm.notAuthMsg" class="not-authorized"></div>
<div class="container-fluid padding-footer full-height">
  <div class="row sub-header">
    <div class="col-sm-9">
      <h4>Reports</h4>
    </div>
  </div>

  <tabset id="tabs" class="full-height">
    <tab heading="Reports">
      <div block-ui="reportsList">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default panel-rides panel-no-shadow">
              <div class="panel-heading"></div>
              <div class="panel-body padding-top-null">
                <div class="row">
                  <div class="col-sm-4">
                    <select class="form-control" ng-model="vm.reportName">
                      <option disabled selected value="">Type of report</option>
                      <option value="drivers">All drivers</option>
                      <option value="drivers_mercadopago">Drivers with Mercadopago</option>
                      <option value="club_nekso">Club Nekso</option>
                      <option value="communication_interactions_drivers">Communication team interactions drivers</option>
                      <option value="communication_interactions_passengers">Communication team interactions passengers</option>
                      <option value="communication_interactions_statistics">Communication team interactions statistics</option>
                      <option value="digital_drivers">Digital drivers</option>
                      <option value="last_driver_interaction">Last driver interaction</option>
                      <option selected="selected" value="referrals">Rides with Referrals Promotions</option>
                      <option value="promotions_discounts">Rides with Promotions</option>
                      <option value="referrals_sharing">Referrals sharing</option>
                      <option value="usersInArea">Users registered in a defined area</option>
                      <option value="ridesInArea">Rides in a defined area</option>
                      <option value="coupon_code_drivers">Promotional code for driver</option>
                      <option value="coupon_code_passengers">Promotional code for passenger</option>
                    </select>
                  </div>
                  <div class="col-sm-4">
                    <p class="input-group date-box has-feedback">
                      <input date-range-picker class="form-control date-picker font-11 inside-search-icon" type="text"
                             ng-model="vm.filter.date" options="vm.filter.date.opts" required/>
                      <i class="glyphicon glyphicon-calendar form-control-feedback no-zindex"></i>
                    </p>
                  </div>
                  <div class="col-sm-4" ng-if="vm.reportName=='coupon_code_drivers' || vm.reportName=='coupon_code_passengers'">
                    <select class="form-control" ng-model="vm.filter.promotionCode">
                      <option disabled selected value="">Promotion code</option>
                      <option ng-repeat="code in vm.dataSourcePromotionCodes" ng-value="code.id">
                        {{code.code}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row reports-files-header">
                  <div class="col-sm-12">
                    <label>Select time period:</label>
                  </div>
                </div>
                <div class="row reports-files-download" ng-if="vm.reportName=='referrals'">
                  <div class="col-sm-12">
                    <a href="{{vm.getCsvUrl(1,'rides/referral?', 'COMPLETED')}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Yesterday
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(2,'rides/referral?', 'COMPLETED')}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Last week
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(3,'rides/referral?', 'COMPLETED')}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Last month
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(4,'rides/referral?', 'COMPLETED')}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Custom Date
                      </button>
                    </a>
                  </div>
                </div>
                <div class="row reports-files-download" ng-if="vm.reportName=='club_nekso'">
                  <div class="col-sm-12">
                    <a href="{{vm.getCsvUrl(1,'rides/achievement?', 'COMPLETED')}}">
                      <button class="btn btn-success">
                        <img src="images/file.png" width="20">
                        Yesterday
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(2,'rides/achievement?', 'COMPLETED')}}">
                      <button class="btn btn-success">
                        <img src="images/file.png" width="20">
                        Last week
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(3,'rides/achievement?', 'COMPLETED')}}">
                      <button class="btn btn-success">
                        <img src="images/file.png" width="20">
                        Last month
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(4,'rides/achievement?', 'COMPLETED')}}">
                      <button class="btn btn-success">
                        <img src="images/file.png" width="20">
                        Custom Date
                      </button>
                    </a>
                  </div>
                </div>
                <div class="row reports-files-download" ng-if="vm.reportName=='referrals_sharing'">
                  <div class="col-sm-12">
                    <a href="{{vm.getCsvUrl(3,'promotion/referral_sharing?', 'COMPLETED')}}">
                      <button class="btn btn-success">
                        <img src="images/file.png" width="20">
                        Last month
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(4,'promotion/referral_sharing?', 'COMPLETED')}}">
                      <button class="btn btn-success">
                        <img src="images/file.png" width="20">
                        Custom Date
                      </button>
                    </a>
                  </div>
                </div>
                <div class="row reports-files-download" ng-if="vm.reportName=='last_driver_interaction'">
                  <div class="col-sm-12">
                    <a href="{{vm.getCsvUrl(3,'communication/drivers/interactions?', 'COMPLETED')}}">
                      <button class="btn btn-success">
                        <img src="images/file.png" width="20">
                        Last month
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(4,'communication/drivers/interactions?', 'COMPLETED')}}">
                      <button class="btn btn-success">
                        <img src="images/file.png" width="20">
                        Custom Date
                      </button>
                    </a>
                  </div>
                </div>
                <div class="row reports-files-download" ng-if="vm.reportName=='promotions_discounts'">
                  <div class="col-sm-12">
                    <a href="{{vm.getCsvUrl(1,'promotion/discounts?', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Yesterday
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(4,'promotion/discounts?', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Custom Date
                      </button>
                    </a>
                  </div>
                </div>
                <div class="row reports-files-download" ng-if="vm.reportName=='drivers'">
                  <div class="col-sm-12">
                    <a href="{{vm.getCsvUrl(1,'drivers?export_to_csv=true&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Yesterday
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(2,'drivers?export_to_csv=true&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Last week
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(3,'drivers?export_to_csv=true&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Last month
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(4,'drivers?export_to_csv=true&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Custom Date
                      </button>
                    </a>
                  </div>
                </div>
                <div class="row reports-files-download" ng-if="vm.reportName=='drivers_mercadopago'">
                  <div class="col-sm-12">
                    <a href="{{vm.getCsvUrl(1,'drivers?has_mercadopago=true&export_to_csv=true&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Yesterday
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(2,'drivers?has_mercadopago=true&export_to_csv=true&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Last week
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(3,'drivers?has_mercadopago=true&export_to_csv=true&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Last month
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(4,'drivers?has_mercadopago=true&export_to_csv=true&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Custom Date
                      </button>
                    </a>
                  </div>
                </div>
                <div class="row reports-files-download" ng-if="vm.reportName=='digital_drivers'">
                  <div class="col-sm-12">
                    <a href="{{vm.getCsvUrl(1,'drivers?export_to_csv=true&tag=DIGITAL&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Yesterday
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(2,'drivers?export_to_csv=true&tag=DIGITAL&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Last week
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(3,'drivers?export_to_csv=true&tag=DIGITAL&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Last month
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(4,'drivers?export_to_csv=true&tag=DIGITAL&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Custom Date
                      </button>
                    </a>
                  </div>
                </div>
                <div class="row reports-files-download" ng-if="vm.reportName=='communication_interactions_drivers'">
                  <div class="col-sm-12">
                    <a href="{{vm.getCsvUrl(1,'support?export_to_csv=true&role=DRIVER&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Yesterday
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(2,'support?export_to_csv=true&role=DRIVER&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Last week
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(3,'support?export_to_csv=true&role=DRIVER&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Last month
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(4,'support?export_to_csv=true&role=DRIVER&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Custom Date
                      </button>
                    </a>
                  </div>
                </div>
                <div class="row reports-files-download" ng-if="vm.reportName=='communication_interactions_passengers'">
                  <div class="col-sm-12">
                    <a href="{{vm.getCsvUrl(1,'support?export_to_csv=true&role=PASSENGER&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Yesterday
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(2,'support?export_to_csv=true&role=PASSENGER&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Last week
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(3,'support?export_to_csv=true&role=PASSENGER&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Last month
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(4,'support?export_to_csv=true&role=PASSENGER&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Custom Date
                      </button>
                    </a>
                  </div>
                </div>
                <div class="row reports-files-download" ng-if="vm.reportName=='communication_interactions_statistics'">
                  <div class="col-sm-12">
                    <a href="{{vm.getCsvUrl(1,'support/statistics?export_to_csv=true&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Yesterday
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(2,'support/statistics?export_to_csv=true&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Last week
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(3,'support/statistics?export_to_csv=true&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Last month
                      </button>
                    </a>
                    <a href="{{vm.getCsvUrl(4,'support/statistics?export_to_csv=true&', undefined)}}">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Custom Date
                      </button>
                    </a>
                  </div>
                </div>
                <div class="row reports-files-download" ng-if="vm.reportName=='usersInArea'">
                  <div class="col-sm-12">
                    <a ng-click="vm.getDirectCsv(1,'passengers/polygon?export_to_csv=true&', undefined)">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Yesterday
                      </button>
                    </a>
                    <a ng-click="vm.getDirectCsv(2,'passengers/polygon?export_to_csv=true&', undefined)">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Last week
                      </button>
                    </a>
                    <a ng-click="vm.getDirectCsv(3,'passengers/polygon?export_to_csv=true&', undefined)">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Last month
                      </button>
                    </a>
                    <a ng-click="vm.getDirectCsv(4,'passengers/polygon?export_to_csv=true&', undefined)">
                      <button class="btn btn-primary">
                        <img src="images/file.png" width="20">
                        Custom Date
                      </button>
                    </a>
                  </div>
                </div>
                <div class="row reports-files-download" ng-if="vm.reportName=='coupon_code_drivers'">
                <div class="col-sm-12">
                  <a href="{{vm.getPromotionCodesReport()}}" style="text-decoration: none;">
                    <button class="btn btn-primary"
                            ng-disabled="vm.filter.date !== null && !vm.filter.promotionCode">
                      <img src="images/file.png" width="20">
                      Custom Date
                    </button>
                  </a>
                </div>
              </div>
                <div class="row reports-files-download" ng-if="vm.reportName=='coupon_code_passengers'">
                  <div class="col-sm-12">
                    <a href="{{vm.getPromotionCodesReport()}}" style="text-decoration: none;">
                      <button class="btn btn-primary"
                              ng-disabled="vm.filter.date !== null && !vm.filter.promotionCode">
                        <img src="images/file.png" width="20">
                        Custom Date
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-rides panel-no-shadow promotion" style="margin-top: 10px; margin-bottom: 10px" ng-if="vm.reportName=='usersInArea' || vm.reportName=='ridesInArea'">
              <div class="row">
                <div class="col-sm-12">
                  <h5><strong>Set Location</strong></h5>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <div class="row row-separation">
                    <div class="col-sm-12">
                      <div class="form-group" ng-class="{ 'has-error' : new_promotion.field_country.$invalid &&  !new_promotion.$pristine}">
                        <select class="form-control" ng-model="vm.promotion.criteria.country" required name="field_country">
                          <option disabled selected value="">Select country</option>
                          <option ng-repeat="country in vm.countries track by country.id" value="{{country}}">{{country.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row row-separation" ng-if="vm.promotion.criteria.country && vm.countryStates.length > 0">
                    <div class="col-sm-12">
                      <div class="form-group" ng-class="{ 'has-error' : new_promotion.field_states.$invalid &&  !new_promotion.$pristine}">
                        <select multiple="multiple" id="field_source" ng-model="vm.promotion.criteria.states" name="field_states">
                          <option ng-repeat="state in vm.countryStates track by state.id" value="{{state}}">{{state.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-xs-6" ng-hide="!vm.promotion.criteria.country">
                  <div class="row row-separation">
                    <div class="form-group">
                      <div class="col-sm-12.container-fluid">
                        <div class="radio">
                          <label>
                            <input type="radio" name="optionsRadios2" value="ANYWHERE" ng-checked="vm.locationType === 'ANYWHERE'" ng-model="vm.locationType">
                            Anywhere
                          </label>
                          <label>
                            <input type="radio" name="optionsRadios2" value="AREA" ng-model="vm.locationType">
                            Draw Area
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
              <div ng-if="vm.promotion.criteria.country" class="row">
                <div class="col-sm-4">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group has-feedback">
                        <input id="promotion-location-input"
                               name="pickup"
                               type="text"
                               class="form-control"
                               placeholder="Search Location">
                        <i class="glyphicon glyphicon-search form-control-feedback"></i>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <button ng-click="vm.addPolygon()" class="btn btn-success" type="button">Add polygon</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <ul>
                        <li ng-repeat="polygon in vm.polygons track by $index">
                          <span style="color: {{polygon.fillColor}}">Area {{$index}}</span>
                          <i ng-click="vm.removePolygon(polygon)" class="glyphicon glyphicon-remove"></i>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div  class="map-container">
                    <div class="reset-container">
                      <button type="button" ng-click="vm.resetPolygon()" class="btn btn-default">Reset</button>
                      <button type="button" ng-click="vm.testPolygon()" class="btn btn-default">Test</button>
                    </div>
                    <div id="promotion-map">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Weekly Heatmap">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default panel-rides panel-no-shadow">
            <div class="row panel-heading padding-bottom-null margin-top-5">
              <div class="pull-left header-item m-r-15 m-l-15">
                <div class="centered-input">
                  <ul class="list-inline margin-bottom-null ul-menu-of-filters">
                    <li>
                      <select class="font-13 new-select" ng-model="vm.heatMapFilter.country">
                        <option selected value="">Select country</option>
                        <option ng-repeat="country in vm.states.country" value="{{country}}">{{country}}</option>
                      </select>
                    </li>
                    <li style="width: 200px;">
                      <select id="heatMapFilter_states" multiple="multiple" class="multiple-state font-13" ng-model="vm.heatMapFilter.state" ng-if="vm.heatMapFilter.country">
                        <option ng-repeat="obj in vm.statesArr | orderBy: 'name'" ng-if="obj.country == vm.heatMapFilter.country && vm.heatMapFilter.country" value="{{obj.name}}">{{obj.name}}</option>
                        <option ng-repeat="obj in vm.statesArr" ng-if="!obj.country && !vm.heatMapFilter.country" value="{{obj.name}}">{{obj.name}}</option>
                      </select>
                    </li>
                    <li>
                      <select class="font-13 new-select" ng-model="vm.heatMapFilter.status">
                        <option selected value="">Select status</option>
                        <option value="ALL">All</option>
                        <option value="CANCELLED">Cancelled</option>
                        <option value="CLOSED">Closed</option>
                        <option value="COMPLETED">Completed</option>
                        <option value="NO_RESPONSE">No response</option>
                        <!--<option value="ONGOING">Ongoing</option>-->
                        <option value="REJECTED">Rejected</option>
                        <!--<option value="REQUESTED">Requested</option>-->
                      </select>
                    </li>
                    <li>
                      <img ng-src="images/launcher-loader.gif" alt="Loading" style="height: 26px;" ng-if="vm.heatmapDataLoading">
                    </li>
                  </ul>
                </div>
              </div>
              <div class="pull-right header-item m-r-15 m-l-15">
                <div class="centered-input">
                  <h5 style="margin: 0px">Last week peak's day/hour for {{vm.getHeatMapChartTitle()}}</h5>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12" style="overflow-x: auto;">
                <div class="heatMapChart" id="heatMapChart"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab class="full-height" heading="Geographical HeatMap" ng-click="vm.initReportMap()">
      <div class="row full-height">
        <div style="position: absolute; z-index: 1;" class="row">
          <div class="col-sm-12">
            <div class="pull-left header-item m-r-15 m-l-15">
              <div class="centered-input">
                <ul class="list-inline margin-bottom-null ul-menu-of-filters">
                  <li>
                    <select class="font-13 new-select" ng-model="vm.mapFilter.country">
                      <option selected value="">Select country</option>
                      <option ng-repeat="country in vm.states.country" value="{{country}}">{{country}}</option>
                    </select>
                  </li>
                  <li style="width: 200px;">
                    <select id="mapFilter_states" multiple="multiple" class="multiple-state font-13" ng-model="vm.mapFilter.state" ng-if="vm.mapFilter.country">
                      <option ng-repeat="obj in vm.statesArr | orderBy: 'name'" ng-if="obj.country == vm.mapFilter.country && vm.mapFilter.country" value="{{obj.name}}">{{obj.name}}</option>
                      <option ng-repeat="obj in vm.statesArr" ng-if="!obj.country && !vm.mapFilter.country" value="{{obj.name}}">{{obj.name}}</option>
                    </select>
                  </li>
                  <li>
                    <select class="font-13 new-select" ng-model="vm.mapFilter.status">
                      <option selected value="">Select status</option>
                      <option value="ALL">All</option>
                      <option value="CANCELLED">Cancelled</option>
                      <option value="CLOSED">Closed</option>
                      <option value="COMPLETED">Completed</option>
                      <option value="NO_RESPONSE">No response</option>
                      <option value="REJECTED">Rejected</option>
                    </select>
                  </li>
                  <li>
                    <img ng-src="images/launcher-loader.gif" alt="Loading" style="height: 26px;" ng-if="vm.mapDataLoading">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="ride-monitor-map" id="reports-map"></div>
      </div>
    </tab>
  </tabset>

</div>
